<!DOCTYPE html>
<html lang="'en" style= >
    <head>
        <meta charset="UTH-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jkivuvu</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>

    <body class="bg" style="padding-bottom: 100px;">
        <div class="bg-dark text-secondary px-4 py-5 text-center ">
            <div class="py-5">
              <h1 class="display-5 fw-bold text-white">Jonathan Kivuvu</h1>
              <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Hi, my name is a Jonathan kivuvu. I am a software engineer with experience in Robotics, Controls, Automation and software design. I earned a degree in mechatronics engineering and focused my career in programming and design.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <a href="https://www.linkedin.com/in/jonathan-kivuvu-338634178/">
                  <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">LinkedIn</button>
                  </a>
                  <a href="https://github.com/Jkivuvu">
                  <button type="button" class="btn btn-outline-light btn-lg px-4">Github</button>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </section>

        <section id="body">
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                  <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Portfolio</h1>
                    <p class="lead text-body-secondary">Below is some of the projects I have made for fun that can be quickly accessed. Most of these program were made using python scrypting. for more projects please visit my <a href="https://github.com/Jkivuvu">Github.</a> Have fun!</p>
                    <p>

                    </p>
                  </div>
                </div>
              </section>
        </section>

        <section id="Projects">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/giphy.gif" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is a program that eveluates your typing speed. This can also be used to increase and better your typing speed. Click 'View' to run the program.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="/download/Typing_Speed.exe">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                            </a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/Booba.gif" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="./fort.JPG/"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is a program the print my logo on every picture I upload in the application. It works like a watermark on a word document. Click 'View' to run the program.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="/download/Watermark.exe">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                            </a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/flashcards.gif" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is a flash card program that help you study french words. It shows you french words and you click the green button if you know it and red if you don't.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="/download/Flashy.exe">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/snake.gif" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is the famous Nokia snake game widely played by kids born in the 90's decade. I might show my age with that one. Click 'View' to play game.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="/download/Snake.exe">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/pong.gif" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is the famous pong game That was ground braking in the 80's decade. use the arrows to move player 1 and 'W' and 'S'  to move player 2.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="/download/Pong.exe">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--                  <div class="col">-->
<!--                    <div class="card shadow-sm">-->
<!--                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/Ttictactoe.gif" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>-->
<!--                      <div class="card-body">-->
<!--                        <p class="card-text">This is a the famous Tic Tac Toe game in which you need to align your pieces in a straight line to win. Click 'View' to play game.</p>-->
<!--                        <div class="d-flex justify-content-between align-items-center">-->
<!--                          <div class="btn-group">-->
<!--                            <a href="https://replit.com/@Jonathanm39/TicTacToe">-->
<!--                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                            </a>-->
<!--                          </div>-->
<!--                          -->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>       -->
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/breakoutgame.gif" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is a the famous Breakout game in which you need to to break all the blocks across to win. Click 'View' to play game.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="/download/Break_Out_Game.exe">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                            </a>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/Space Invaders.gif" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is a the famous Space Invaders game in which you need to kill all aliens before they kill you 3 times to win. Click 'View' to play game.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="/download/Space_Invaders.exe">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                            </a>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/pdftoaudio.JPG" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is a pc application that will convert your uploaded pdf file to  an audio file and read it to you. Click 'View' to test the app.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="/download/Text_to_speech.exe">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                            </a>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/kivuvustore.JPG" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is a website in which you can purchase the books Some of my favorite are listed on the website. It uses the stripe API. Click 'View' to access the website.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://kivuvubookstore.onrender.com/">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </a>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/curex.JPG" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is a website in which you can convert any currency in any currency of your choice. It uses a simple API. Click 'View' to access the website.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://currencyconversion-zp7p.onrender.com/">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </a>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col" style="padding-bottom: 300px;">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="static/images/colorex.JPG" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                      <div class="card-body">
                        <p class="card-text">This is a website in which you can upload a picture and extract the top 20 colors that make that picture Click 'View' to access the website.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://colorextract.onrender.com/">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </a>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <section>                                                           

    <footer id="footer">
      <p>
        Copyright © {{year}}
      </p>
    </footer>


</html>